body {

}
h1 {
  color:black;
  font-family: Vodafone Rg;
  background-color: #14e3c7;
}
h2 {
  color:black;
  font-family:Vodafone Rg;
}

h4 {
  font-family: Vodafone Rg;
  background-color: White;
}

.jumbotron-title {
    background-color:#14e3c7;
}
/*
  * {box-sizing:border-box} */
