body {

}
h1 {
  color:black;
  font-family: Vodafone Rg;
  background-color: #14e3c7;
}
h2 {
  color:black;
  font-family:Vodafone Rg;
  background-color:#14e3c7;
}

h4 {
  font-family: Vodafone Rg;
  background-color: White;
}

.jumbotron {
    background-color:#14e3c7;
}

#bottom_jumbo {
  padding-left: 225px;
}

#heading {
  padding-left: 20px;
}
